{% extends "base.twig" %}

{% block main %}
<section>
    <nav>
        <ul>
            <li>
                <hgroup role="heading">
                    <h3>Cadastrar atividade</h3>
                </hgroup>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>
                <a href="{{ route('atividades') }}">&larr; Voltar para listagem</a>
            </li>
        </ul>
    </nav>
</section>
<form action="{{ route('salvar_atividade') }}" method="post">
    {% include "atividades/fieldset.twig" %}
    <input type="hidden" name="_csrf_token" value="{{ CSRF_TOKEN }}" />
    <input type="submit" value="&#128190; Cadastrar">
</form>
{% endblock %}