<fieldset class="grid">
    <label>
        Nome
        <input type="text" name="nome" value="{{ atividade.nome ?? '' }}" placeholder="Nome" />
    </label>
    <label>
        Cor
        <input type="color" name="cor" value="{{ atividade.cor ?? '' }}" placeholder="Cor" />
    </label>
</fieldset>