{% from "components.twig" import input %}

<fieldset class="grid">
    <label>
        Nome
        {{ input('text', 'Nome', 'nome', atividade.nome ?? '') }}
    </label>
    <label>
        Cor
        {{ input('color', 'Cor', 'cor', atividade.cor ?? '') }}
    </label>
</fieldset>