{% extends "base.twig" %}

{% block main %}
<hgroup>
    <h3>Erro 501: Não implementado</h3>
    <p>URI: <mark>{{ CURRENT_URI }}</mark></p>
</hgroup>
<p><kbd>{{ controller }}@{{ method }}</kbd></p>
{% endblock %}