{% from "macros.twig" import input, select %}

<fieldset class="grid">
    <label>
        Período
        {{ select('Período', 'periodo_id', periodos, disciplina.periodo_id ?? '') }}
    </label>
    <label>
        Nome
        {{ input('text', 'Nome', 'nome', disciplina.nome ?? '') }}
    </label>
    <label>
        Cor
        {{ input('color', 'Cor', 'cor', disciplina.cor ?? '') }}
    </label>
</fieldset>