{% extends "base.twig" %}

{% block main %}
<hgroup role="heading">
    <h3>Editar agendamento</h3>
</hgroup>
<nav>
    <ul>
        <li>
            <a href="{{ url('/agendamentos') }}">&larr; Voltar para listagem</a>
        </li>
    </ul>
    <ul>
        <li>{% include "agendamentos/excluir.twig" %}</li>
    </ul>
</nav>
<form action="{{ url('/agendamentos/{id}', {id: agendamento.id}) }}" method="post">
    {% include "agendamentos/fieldset.twig" %}
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="&#128190; Salvar">
</form>
{% endblock %}