{% extends "base.twig" %}

{% block main %}
<section>
    <nav>
        <ul>
            <li>

                <hgroup role="heading">
                    <h3>Editar agendamento</h3>
                </hgroup>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>
                <a href="{{ route('agendamentos') }}">&larr; Voltar para listagem</a>
            </li>
        </ul>
        <ul>
            <li>{% include "agendamentos/excluir.twig" %}</li>
        </ul>
    </nav>
</section>
<form action="{{ route('atualizar_agendamento', agendamento.id) }}" method="post">
    {% include "agendamentos/fieldset.twig" %}
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="_csrf_token" value="{{ CSRF_TOKEN }}" />
    <input type="submit" value="&#128190; Salvar">
</form>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplemde@1/dist/simplemde.min.css">
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/simplemde@1/dist/simplemde.min.js"></script>
<script src="{{ asset('/js/simplemde.js') }}"></script>
{% endblock %}