<form action="{{ url('/agendamentos/{id}', {id: agendamento.id}) }}" method="post">
    <input type="hidden" name="_method" value="delete">
    <a href="javascript:;" onclick="if (confirm('Deseja excluir este item?')) this.closest('form').submit()">
        <small>&#128465; Excluir</small>
    </a>
</form>