{% from "macros.twig" import input, select, textarea %}

<fieldset class="grid">
    <label>
        Atividade
        {{ select('Atividade', 'atividade_id', atividades, agendamento.atividade_id ?? '') }}
    </label>
    <label>
        Disciplina
        {{ select('Disciplina', 'disciplina_id', disciplinas, agendamento.disciplina_id ?? '') }}
    </label>
    <label>
        Data
        {{ input('date', 'Data', 'data', (agendamento.data ?? '')|date('Y-m-d')) }}
    </label>
</fieldset>
<fieldset class="grid">
    <label>
        Conteúdo
        {{ textarea('Conteúdo', 'conteudo', agendamento.conteudo ?? '') }}
    </label>
</fieldset>