<h1>Agendamento #{{ agendamento.id }}</h1>
<h3><a href="/agendamentos">&lsaquo; Voltar</a></h3>
<p>
    <strong>Agendamento #{{ agendamento.id }}</strong><br>
    Data: {{ agendamento.data|date('d/m/Y') }}
</p>
