{% extends "base.twig" %}

{% block main %}
<section>
    <nav>
        <ul>
            <li>
                <hgroup role="heading">
                    <h3>Editar período</h3>
                </hgroup>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>
                <a href="{{ route('periodos') }}">&larr; Voltar para listagem</a>
            </li>
        </ul>
        <ul>
            <li>{% include "periodos/excluir.twig" %}</li>
        </ul>
    </nav>
</section>
<form action="{{ route('atualizar_periodo', periodo.id) }}" method="post">
    {% include "periodos/fieldset.twig" %}
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="_csrf_token" value="{{ CSRF_TOKEN }}" />
    <input type="submit" value="&#128190; Salvar">
</form>
{% endblock %}