<fieldset class="grid">
    <label>
        Ano
        <input type="text" name="ano" value="{{ periodo.ano ?? '' }}" placeholder="Ano" />
    </label>
    <label>
        Semestre
        <input type="text" name="semestre" value="{{ periodo.semestre ?? '' }}" placeholder="Semestre" />
    </label>
</fieldset>