{% from "components.twig" import input %}

<fieldset class="grid">
    <label>
        Ano
        {{ input('text', 'Ano', 'ano', periodo.ano ?? '') }}
    </label>
    <label>
        Semestre
        {{ input('text', 'Semestre', 'semestre', periodo.semestre ?? '') }}
    </label>
</fieldset>